@model IEnumerable<FlexiPay.Models.ViewModel.UITarjeta>

@{
    ViewBag.Title = "Tarjetas";
}

<h2>Tarjetas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TarjetaNumero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TarjetaNumero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID  }) |
            @Html.ActionLink("Details", "Detail", new { id=item.ID  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID  })
        </td>
    </tr>
}

</table>
