@model FlexiPay.Models.ViewModel.UIFactura

@{
    ViewBag.Title = "Detalle Factura";
}

<h2>Detalle Factura</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServicioID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicio.Servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pagado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pagado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaLimite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaLimite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AprobacionNumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AprobacionNumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TarjetaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarjeta.TarjetaNumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index", new { controller = "Factura" }, new { @class = "btn btn-warning" })
</p>
