@model FlexiPay.Models.ViewModel.UIServicio

@{
    ViewBag.Title = "Detalle Servicio";
}

<h2>Detalle Servicio</h2>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index", new { controller = "Servicio" }, new { @class = "btn btn-warning" })
</p>
