@model IEnumerable<FlexiPay.Models.ViewModel.UIServicio>

@{
    ViewBag.Title = "Servicios";
}

<h2>Servicios</h2>

<p>
    @Html.ActionLink("Nuevo Servicio", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-bordered dttable">
    <thead class="bg-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Servicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Servicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contrato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @*
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-xs btn-primary" }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-xs btn-danger" })
                    *@

                    <a href="@Url.Action("Edit", "Servicio", new { id = item.ID })" class="btn btn-xs btn-primary">
                        <span class="glyphicon glyphicon-pencil"> Edita</span>
                    </a>
                    <a href="@Url.Action("Delete", "Servicio", new { id = item.ID})" class="btn btn-xs btn-danger">
                        <span class="glyphicon glyphicon-trash"> Borra</span>
                    </a>
                    <a href="@Url.Action("Details", "Servicio", new { id = item.ID})" class="btn btn-xs btn-success">
                        <span class="glyphicon glyphicon-eye-open"> Ver</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
